<nav>
    <section>
        <h3>Getting involved</h3>
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/Meetings/">Meetings</a></li>
            <li><a href="{{ site.baseurl }}/Meetings/Minutes/">Minutes</a></li>
            <li><a href="{{ site.baseurl }}/Meetings/Minutes/resolutions">List of Resolutions</a></li>
            <li><a rel="external" href="https://github.com/w3c/{{ site.wgname_lc }}-wg/issues?q=is%3Aissue+is%3Aopen+label%3Aaction">Open Actions</a></li>
            <li><a href="{{ site.baseurl }}/WorkMode/">WorkMode</a></li>
            <li><a href="{{ site.baseurl }}/WorkMode/getting-started">Information for new members</a></li>
            <li><a href="{{ site.baseurl }}/Misc/publishing">Publishing Workflow</a></li>
            <li><a rel="external" href="https://github.com/w3c/{{ site.wgname_lc }}-wg/wiki"><abbr title="Working Group">WG</abbr> Wiki</a></li>
            <!-- <li><a href="https://www.w3.org/did-wg/Misc/presentations">Public Presentations</a></li> -->
            <li><a rel="external" href="https://www.w3.org/Consortium/join">Join the W3C</a></li>
            <li><a rel="external" href="https://www.w3.org/2004/01/pp-impl/{{ site.groupid }}/join">Join the Working Group</a></li>
            <li><a rel="external" href="https://github.com/search?q=topic%3A{{ site.wgname_lc }}-wg+org%3Aw3c&amp;type=Repositories">GitHub repositories</a></li>
        </ul>    
    </section>

    <section>
        <h3>Drafts</h3>
        <ul>
            <li><a href="https://w3c.github.io/did-use-cases/">DID Use Cases and Requirements</a></li>
            <li><a href="https://w3c.github.io/did-spec/">DID Identifiers v1.0</a></li>
            <li><a href="https://w3c.github.io/did-spec-registries/">DID Specification Registries</a></li>
            <li><a href="https://www.w3.org/TR/did-cbor-representation/">The Plain CBOR representation</a></li>
            <li><a href="https://www.w3.org/TR/did-rubric/">Decentralized Characteristics Rubric V1.0</a></li>
            <li><a href="https://www.w3.org/TR/did-imp-guide/">DID Implementation Guide v1.0</a></li>
        </ul>    
    </section>
 
    <section>
        <h3>Group details</h3>
        <ul>
            <li><a href="{{ site.baseurl }}/PublStatus">Publication status and milestones</a></li>
            <li><a rel="external" href="https://www.w3.org/groups/wg/did/participants?sortaff=1">Participants</a></li>
            <li><a rel="external" href="https://www.w3.org{{ site.charter }}">Charter</a></li>
            <li><a rel="external" href="https://www.w3.org/2004/01/pp-impl/{{ site.groupid }}/status">Patent Policy Status</a></li>
        </ul>    
    </section>

    <section>
        <h3>General Links</h3>
        <ul>
            <li><a rel="external" href="https://www.w3.org/Consortium/join">Joining W3C</a></li>
            <li><a rel="external" href="https://www.w3.org/Consortium/activities">W3C Activities</a></li>
            <li><a rel="external" href="http://www.w3.org/Guide/">W3C Guidebook</a></li>
            <li><a rel="external" href="https://www.w3.org/TR/patent-policy/">W3C Patent Policy</a></li>
            <li><a rel="external" href="https://www.w3.org/Consortium/Process/">W3C Process Document</a></li>
            <li><a rel="external" href="https://www.w3.org/Consortium/cepc/">Code of Conduct</a></li>
        </ul>    
    </section>
</nav>
